body {
	background-color:#040720;
	color:white;
	font-family:Arial;
	font-size:18px;
}

header{
	background-color:white;
	border-style: solid;
	border-color:red;
	border-width:20px;	
	margin: 0px;
	padding: 10px;
}

nav {
  font-size: 35px;
  text-align: center;
  text-decoration: none;
  background-color:#101830;
  color: white;
  padding:10px;
  margin: 0px;
}

nav a {
	color: white;
	text-decoration: none;
}

footer{
	background-color:#101830;
}